#listItem{
  margin-left: -8px;
  margin-right: -8px;

}

#listItem a {
  height: 40px;
}

a .iconitem{

  font-size: 19px;
  margin-top: 5px;
}

.nav-devider-zone {
  height: 1px;
  background: rgba(120, 130, 140, 0.13);
  display: block;
  margin: 20px 0;
}
//target
.menu-list:hover {
  background-color: #1e88e5;
  color: white;
  border-radius: 4px;

}


