<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile" style="background: url(assets/images/background/erpbg.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text">
      <a [matMenuTriggerFor]="sdprofile" class="emailcurrent">  <span>{{emailcurrent}}</span>
        <mat-icon style=" margin-top: -20px; float: right; right: 8px; position: absolute;">keyboard_arrow_down</mat-icon>
      </a>
    </div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>
</div>
<mat-nav-list appAccordion>


    <mat-list-item *ngFor="let menuitem of menuItems.getMenuitem()" group="{{menuitem.state}}" appAccordionLink routerLinkActive="selected" id="listItem"  >

      <ng-container *ngIf="menuitem.childmenu!=null ; else other_content">
          <a   class="has-arrow waves-effect waves-dark menu-list"   appAccordionToggle    *ngIf="menuitem.type === 'link'" >
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate}}</span>
            <span fxFlex></span>
          </a>
        <ng-container>
          <mat-nav-list class="sub-item mat-nav-list"   >
            <mat-list-item *ngFor="let childmenu of menuitem.childmenu" >
              <a class="relative childitem"  appAccordionToggle  [routerLink]="[ '/', menuitem.state,childmenu.stateChild]"  >
                <mat-icon class="iconitem">{{childmenu.icon}}</mat-icon> <span >{{childmenu.name  | translate}}</span>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </ng-container>
      </ng-container>

      <ng-template #other_content>
        <a class="has-arrow waves-effect waves-dark menu-list"   appAccordionToggle   *ngIf="menuitem.type === 'link'" [routerLink]="[ '/', menuitem.state]" >
          <mat-icon>{{ menuitem.icon }}</mat-icon>
          <span>{{ menuitem.name | translate}}</span>
          <span fxFlex></span>
        </a>
      </ng-template>


    </mat-list-item>

  <div class="nav-devider-zone"></div>
</mat-nav-list>
