<mat-card class="zoneTopAction">
  <mat-card-content>

    <div  fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">


        <div  *ngIf="rootview=='list'"  fxLayoutAlign="start"   fxLayout="row" fxLayoutAlign="start " fxFlex="100%;" fxFlex.xs="100%">
          <mat-form-field class="demo-chip-list">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let item of chipFilter" [selectable]="selectable"  [removable]="removable" (remove)="remove(item)">
                {{item}}  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Filter ..." (keyup)="applyFilter($event.target.value)"
                     [matChipInputFor]="chipList"  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
              (keydown)="keydown($event,$event.target.value)"/>
            </mat-chip-list>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="end " >
          <ng-container *ngIf="rootview!='list'"  >
            <button [routerLink]="['/product']" (click)="rootview='list'"   routerLinkActive="active" mat-raised-button color="primary" type="submit" tabindex="2"  class="b-r">
              <mat-icon>list</mat-icon> {{'product.list' | translate}}
            </button>
          </ng-container>

          <ng-container *ngIf="rootview=='detail'">
            <button [routerLink]="[ '/invoice']"  mat-raised-button color="primary" type="submit" tabindex="2"  style="margin-left: 5px;" class="b-r">
              <mat-icon>print</mat-icon>{{'print' | translate}}
            </button>
          </ng-container>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div  fxLayout="row" fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

      <ng-container *ngIf="rootview=='list'" >
        <generic-datagrid  [Directive_DATA]='dataSource'  (notifyAction)='NotifyAction($event)'>
        </generic-datagrid>
      </ng-container>

      <ng-container *ngIf="rootview=='add'||rootview=='edit'" >
        <generic-add (AddActionNotify)="addUser($event)"
                     [Structure_Fields]='structureFields'
                     [TitleComponent]='titleComponent'
                     [DataEdit]='dataEdit'>
        </generic-add>
      </ng-container>

      <ng-container *ngIf="rootview=='detail'" >
        <generic-detail [ItemDetail]='itemDetail'>
        </generic-detail>
      </ng-container>

  </div>

  <ng-container *ngIf="rootview!='add'">
    <span class="done">
       <button mat-fab color="primary" [@zoomIn]="zoomIn"  matTooltip="{{'add' | translate}}" (click)="NotifyAction([null,'add'])" >
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </span>
  </ng-container>

</div>

