.mat-card .mat-card-header .mat-card-title {
  font-size: 16px;
}
.white-text {
  color: #FFF!important;
  margin-top: 15px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

[hidden] {
  display: none !important;
}


.validemail{
  margin-bottom: 20px;
  margin-top: 12px;
}

.closeAccount{
  font-size: 22px;
  right: 14px;
  float: right;
  position: absolute;
  z-index: 100000;
  margin-top: -46px;
}

.iconlock{
    font-size: 20px;
    color: #525c65;
}


.matcard{
  border-color: rgba(0, 0, 0, 0.08);
  border-style: solid;
  border-width: 0.5px;
  margin: 0px;
  margin-top: 5px;
}

.success-snackbar{
  background: #F44336;
  color: black;
}

::ng-deep snack-bar-container.custom-class {
  background: yellow;
}

::ng-deep .custom-class .mat-simple-snackbar {
  color: green;
}


.imglang{
  width: 30px;
}

.btnicon{ right: 6px; float: right; position: absolute; }


.langicon{
  width: 28px;
  height: 28px;
}
