<section id="wrapper">
  <div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">

    <div fxLayout="row" fxLayoutAlign="space-around center" class="content">

      <mat-card fxFlex.gt-sm="33" fxFlex.gt-xs="80">

        <mat-card-header fxLayoutAlign="center">
          <a class="text-center db"  >
            <img src="/assets/images/softtodo-logo.png" alt="Home">
          </a>

          <button [matMenuTriggerFor]="languages" mat-icon-button class="m-r-5" class="btnicon">
            <img src="assets/images/icon/{{language}}.png" class="langicon" >
          </button>
          <mat-menu #languages="matMenu" class="mymegamenu">
            <button mat-menu-item (click)="changelanguage('fr')" style=" padding-top: 10px;">
              <img src="assets/images/icon/fr.png" class="imglang">
              <span class="spanlang">French</span>
            </button>
            <button mat-menu-item (click)="changelanguage('en')" style=" padding-top: 10px;">
              <img src="assets/images/icon/en.png" class="imglang">
              <span class="spanlang">English</span>
            </button>
          </mat-menu>

        </mat-card-header>

        <mat-card-content>

          <!-- Switch Account -->
           <mat-card mat-ripple *ngFor="let user of connectedUsers"  class="matcard">
             <mat-card-header (click)="connectSwitch(user)">
               <span class="barbleu"></span>
               <img mat-card-avatar src="/assets/images/users/d1.jpg" alt="Photo user">
               <mat-card-subtitle> User Name</mat-card-subtitle>
               <mat-card-title > {{user.email}}</mat-card-title>
             </mat-card-header>

             <mat-icon class="closeAccount"  mat-icon-button (click)="removeAccount(user)" mat-mini-fab>close</mat-icon>
          </mat-card>
          <!-- End switch Account -->

          <!-- Input Password -->
          <ng-container *ngIf="currentEmail">
            <mat-chip-list>
              <mat-chip color="primary" class="validemail"  >
                {{currentEmail}}
                <mat-icon matChipRemove (click)="anotherAccount()">close</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <mat-form-field>
              <input matInput placeholder="{{'placeholder.passowrd' |translate}}" (keypress)="connectKeypress($event)" [formControl]="password"
                     [type]="showPassword ? 'text' : 'password'" required>
              <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="password.invalid">{{getErrorMessagePass()}}</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start center" class="content">
              <mat-checkbox color="primary" fxLayoutAlign="start" fxFlex="50">  {{'account.rememberMe' | translate}}</mat-checkbox>
              <div fxLayoutAlign="end" fxFlex="50">
                <mat-icon class="iconlock">lock</mat-icon>
                <span> {{'account.forgot' | translate }} ?</span>
              </div>
            </div>
            <button mat-button (click)="connect()" class="  btn-info btn-lg btn-block white-text">
              {{'account.login' | translate}}
            </button>
          </ng-container>
          <!-- End Input Password -->

          <!-- Input Email -->
          <ng-container *ngIf="!currentEmail">
            <mat-form-field>
              <input matInput placeholder="{{'placeholder.email' |translate}}" (keypress)="verifyEmailkeypress($event)" [formControl]="email" [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option (click)="verifyEmail()" *ngFor="let option of filteredAutoCompleteEmails" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <button mat-button (click)="verifyEmail()" class="  btn-info btn-lg btn-block white-text">
              {{'next' | translate }}
            </button>
          </ng-container>
          <!--End Input Email -->

        </mat-card-content>

        <!-- Progress -->
        <mat-progress-bar *ngIf="viewProgress" mode="indeterminate"></mat-progress-bar>
        <!--End  progress -->

      </mat-card>
    </div>
  </div>
</section>
