


<h1 mat-dialog-title><mat-icon aria-label="Delete" color="warn">delete</mat-icon> Are you sure to delete this {{data.itemRemove}} ?</h1>
<div mat-dialog-content>
  <p></p>
</div>
<div mat-dialog-actions>
  <button mat-button  cdkFocusInitial (click)="RemoveDataNotify()">Ok</button>
  <button mat-button [mat-dialog-close]="data">No Thanks</button>
</div>








