

<mat-card class="example-card">

    <mat-card-header>
      <span class="barbleu"></span>
      <mat-card-title>{{'user.detail' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <ng-container  *ngFor="let key of keys " >
          <ng-container *ngIf="key=='Picture';else other_container">
            <img  alt="user" src="{{ItemDetail[key]}}" width="100" height="100" class="imgcard">
          </ng-container>
          <ng-template #other_container>
              <mat-list>
                <mat-list-item class="zoneitem" >
                  <h3 matLine fxFlex="30">{{key}} :</h3>
                  <p fxFlex="70">
                    <span>{{ItemDetail[key]}}</span>
                  </p>
                </mat-list-item>

                <mat-divider></mat-divider>
              </mat-list>
          </ng-template>


        </ng-container>

    </mat-card-content>

</mat-card>


