
.imagegrid{
  float: left;
  width: 100px;
  margin-top: -2%;
}


.zonegrid{
height: 120px;
}


.actioncard{
top: 0;
position: absolute;
  right: 5px;
}


.gridinfo{
margin-left: 10px;
}


.main-panel {
  height: 62vh;
  overflow-y: scroll;
}


