
  <div class="main-panel"  infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="100"
         [infiniteScrollContainer]="selector"
         [fromRoot]="true"
         (scrolled)="onScroll()" fxLayout="row column" fxLayout.xs="column">

        <mat-card  [@gridzoomIn]="zoomIn"   *ngFor="let item of allitem " class="zonegrid" fxFlex="22%;" fxFlex.md="45%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-card-content (click)="ActionNotify(item,'detail')">
            <img mat-card-image src="assets/images/gallery/dell.jpg" alt="Dell" class="imagegrid">
            <div  class="d-flex no-block">
              <div class="gridinfo">
                <h4  class="m-0">{{item.Nom}}</h4>
                <h6  class="text-muted m-0">{{item.Email}}</h6>
                <h6  class="text-muted m-0" >New Product</h6>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="actioncard" >
            <button mat-icon-button [matMenuTriggerFor]="menu"  >
              <mat-icon matTooltip="Actions">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="ActionNotify(item,'edit')">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="ActionNotify(item,'remove')">
                <mat-icon>delete</mat-icon>
                <span>Remove</span>
              </button>
            </mat-menu>
          </mat-card-actions>
        </mat-card>
    </div>
