

<div class="card-group">
  <div  fxLayout="row" fxLayoutWrap="wrap" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card  class="mat-card card-dashboard" fxLayout="row" fxLayoutAlign="start " fxFlex="23%;" fxFlex.xs="100%">
      <mat-card-content class="mat-card-content">
        <mat-icon class="text-info mat-icon material-icons" role="img" aria-hidden="true">account_circle</mat-icon>
        <h3 class="m-0">386</h3>
        <h5 class="text-muted m-t-0 m-b-10">{{'new' | translate}}  {{'user.namePlural' | translate}} </h5>
        <mat-progress-bar aria-valuemax="100" aria-valuemin="0" class="mat-progress-bar mat-primary" mode="determinate" role="progressbar" value="40" ng-reflect-value="40" ng-reflect-mode="determinate" aria-valuenow="40"><div class="mat-progress-bar-background mat-progress-bar-element"></div><div class="mat-progress-bar-buffer mat-progress-bar-element"></div><div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" ng-reflect-ng-style style="transform: scaleX(0.4);"></div><div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div></mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <mat-card  class="mat-card card-dashboard" fxLayout="row" fxLayoutAlign="start " fxFlex="23%;" fxFlex.xs="100%">
      <mat-card-content class="mat-card-content">

        <mat-icon class="text-danger mat-icon material-icons" role="img" aria-hidden="true">local_mall</mat-icon>
        <h3 class="m-0">1386</h3>
        <h5 class="text-muted m-t-0 m-b-10">{{'new' | translate}}  {{'product.namePlural' | translate}} </h5>
        <mat-progress-bar aria-valuemax="100" aria-valuemin="0" class="mat-progress-bar mat-warn" color="warn" mode="determinate" role="progressbar" value="60" ng-reflect-color="warn" ng-reflect-value="60" ng-reflect-mode="determinate" aria-valuenow="60"><div class="mat-progress-bar-background mat-progress-bar-element"></div><div class="mat-progress-bar-buffer mat-progress-bar-element"></div><div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" ng-reflect-ng-style style="transform: scaleX(0.6);"></div><div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div></mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <mat-card  class="mat-card card-dashboard" fxLayout="row" fxLayoutAlign="start " fxFlex="23%;" fxFlex.xs="100%" >
      <mat-card-content class="mat-card-content">

        <mat-icon class="text-purple mat-icon material-icons" role="img" aria-hidden="true">stars</mat-icon>
        <h3 class="m-0">986</h3>
        <h5 class="text-muted m-t-0 m-b-10">{{'new' | translate}}  Items</h5>
        <mat-progress-bar aria-valuemax="100" aria-valuemin="0" class="mat-progress-bar mat-accent" color="accent" mode="determinate" role="progressbar" value="80" ng-reflect-color="accent" ng-reflect-value="80" ng-reflect-mode="determinate" aria-valuenow="80"><div class="mat-progress-bar-background mat-progress-bar-element"></div><div class="mat-progress-bar-buffer mat-progress-bar-element"></div><div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" ng-reflect-ng-style style="transform: scaleX(0.8);"></div><div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div></mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card card-dashboard"  fxLayout="row" fxLayoutAlign="start " fxFlex="23%;" fxFlex.xs="100%" >
      <mat-card-content class="mat-card-content">
        <mat-icon class="text-info mat-icon material-icons" role="img" aria-hidden="true">content_paste</mat-icon>
        <h3 class="m-0">786</h3>
        <h5 class="text-muted m-t-0  m-b-10">{{'news' | translate}}  {{'factures' | translate}} </h5>
        <mat-progress-bar aria-valuemax="100" aria-valuemin="0" class="mat-progress-bar mat-primary" mode="indeterminate" role="progressbar" value="40" ng-reflect-value="40" ng-reflect-mode="indeterminate" aria-valuenow="40"><div class="mat-progress-bar-background mat-progress-bar-element"></div><div class="mat-progress-bar-buffer mat-progress-bar-element"></div><div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" ng-reflect-ng-style style="transform: scaleX(0.4);"></div><div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div></mat-progress-bar>
      </mat-card-content>
    </mat-card>

  </div>
</div>






<div fxLayout="row  column" fxLayout.xs="column" >
  <mat-card class="mat-card" fxFlex="58%;" fxFlex.xs="100%">
    <mat-card-content>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
      <!--<button (click)="randomize()">Update</button>-->
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card" fxFlex="38%;" fxFlex.xs="100%">
    <mat-card-content>
      <div style="display: block">
        <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </mat-card-content>
  </mat-card>

</div>


<!--<div class="card-group">-->
<!--<div fxLayout="row" fxLayoutWrap="wrap" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">-->

<!--<mat-card  class="mat-card"  fxLayoutAlign="start " fxFlex="50%;" fxFlex.xs="100%">-->
<!--<mat-card-content class="mat-card-content">-->
<!--<canvas baseChart-->
<!--[datasets]="barChartData"-->
<!--[labels]="barChartLabels"-->
<!--[options]="barChartOptions"-->
<!--[legend]="barChartLegend"-->
<!--[chartType]="barChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--&lt;!&ndash;<button (click)="randomize()">Update</button>&ndash;&gt;-->
<!--</mat-card-content>-->
<!--</mat-card>-->

<!--<mat-card class="mat-card"   fxLayoutAlign="start " fxFlex="50%;" fxFlex.xs="100%">-->
<!--<mat-card-content class="mat-card-content">-->
<!--<div style="display: block">-->
<!--<canvas baseChart-->
<!--[data]="doughnutChartData"-->
<!--[labels]="doughnutChartLabels"-->
<!--[chartType]="doughnutChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</mat-card-content>-->
<!--</mat-card>-->

<!--</div>-->
<!--</div>-->
