.zoneTopAction{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.table-bordered {
  border: 1px solid #ddd;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-bordered>thead>tr>th {
  border: 1px solid #ddd;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #ddd;
}
