

<mat-card class="zoneTopAction">
  <mat-card-content   >

    <div  fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="end end" >
          <button   mat-raised-button color="primary" type="submit" tabindex="2"  style="margin-left: 5px;" class="b-r" (click)="print()">
            <mat-icon >print</mat-icon> {{'print' | translate}}
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-content>

    <div  fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">


          <div class="card card-body printableArea" id="print-section">
            <h3><b>INVOICE</b> <span class="text-right">#5669626</span></h3>
            <hr>
            <div class="row">

              <div   fxFlex.gt-sm="100" fxFlex.gt-xs="100"fxLayoutAlign="start start "  fxFlex="100"  fxLayoutAlign="center ">
                <div   fxFlex="70" >
                  <address>
                    <h3> &nbsp;<b class="text-danger"  >SoftToDo</b></h3>
                    <p class="text-muted m-l-5">
                      Route Ain Km 3,
                      <br/>Ceinture Bourguiba,
                      <br/> Sfax Tunisie - 3003</p>
                  </address>
                </div>
                <div  fxLayoutAlign=" end"  fxFlex="30">
                  <address class="text-right">
                    <h3>To,</h3>
                    <h4 class="font-bold">Gaala & Sons,</h4>
                    <p class="text-muted m-l-30">
                      Route Ain Km 3,
                      <br/>Ceinture Bourguiba,
                      <br/> Sfax Tunisie - 3003</p>
                    <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> 23rd Jan 2018</p>
                    <p><b>Due Date :</b> <i class="fa fa-calendar"></i> 25th Jan 2018</p>
                  </address>
                </div>
              </div>

            </div>

            <div class="row">
              <div  fxFlex="100">
                <div class="table-responsive m-t-40" style="clear: both;">
                  <table class="table table-bordered"  >
                    <thead>
                    <tr>
                      <th>Description</th>
                      <th class="text-right">Quantity</th>
                      <th class="text-right">Unit Cost</th>
                      <th class="text-right">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Milk Powder</td>
                      <td class="text-right">2 </td>
                      <td class="text-right"> $24 </td>
                      <td class="text-right"> $48 </td>
                    </tr>
                    <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>
                    <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>   <tr>
                      <td>Air Conditioner</td>
                      <td class="text-right"> 3 </td>
                      <td class="text-right"> $500 </td>
                      <td class="text-right"> $1500 </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

            <div class="row">
              <div fxFlex="100">
                <div class="pull-right m-t-30 text-right">
                  <p>Sub - Total amount: $13,848</p>
                  <p>vat (10%) : $138 </p>
                  <hr>
                  <h3><b>Total :</b> $13,986</h3>
                </div>
                <div class="clearfix"></div>
                <hr>
              </div>


            </div>



          </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>



