
<mat-card class="zoneTopAction">
  <mat-card-content   >

    <div  fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="end end" >

          <button   [routerLink]="[ '/invoice']"  mat-raised-button color="primary" type="submit" tabindex="2"  style="margin-left: 5px;" class="b-r">
            <mat-icon>print</mat-icon>{{'print' | translate}}
          </button>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div  fxLayout="row" fxLayoutWrap="wrap">


  <mat-card fxFlex.gt-sm="97" fxFlex.gt-xs="97" fxFlex.gt-lg="97">

    <mat-card-header>
      <span class="barbleu"></span>
      <mat-card-title>{{'invoice.add' |translate}} </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-table class="table-margin-bottom" #table [dataSource]="dataSource">

          <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
            <mat-cell *matCellDef="let row ">

              <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}" style=" width: 90%;  ">
                <input type="text" placeholder="First Name" [readonly]="!row.editing"   matInput
                       (focusout)="focusAutoComplete()"   (focus)="filter(row.currentData.firstname)" (keyup)="filter(row.currentData.firstname)"
                       [(ngModel)]="row.currentData.firstname"   [matAutocomplete]="auto">

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let row ">
              <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}" style=" width: 90%;  ">
                <input matInput     [readonly]="!row.editing"  placeholder="Last Name" [(ngModel)]="row.currentData.lastname">
              </mat-form-field>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let row " >
              <mat-form-field  style=" width: 90%;  ">
                <input matInput   [readonly]="!row.editing"   placeholder="email" [(ngModel)]="row.currentData.email">
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
            <mat-cell *matCellDef="let row ">
              <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}" style=" width: 90%;  ">
                <input matInput    [readonly]="!row.editing" type="number" placeholder="age" [(ngModel)]="row.currentData.age">
              </mat-form-field>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="actionsColumn">
            <mat-header-cell *matHeaderCellDef>
              <!--<button mat-icon-button color="accent" (click)="dataSource.createNew()">-->
                  <!--<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>-->
              <!--</button>-->Action
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
                <mat-icon matTooltip="{{'edit' |translate}}" >border_color</mat-icon>
              </button>
              <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                <mat-icon aria-label="Delete">check</mat-icon>
              </button>
              <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
                <mat-icon matTooltip="{{'remove' |translate}}" >delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </mat-card-content>
  </mat-card>

  </div>

  <ng-container >
    <span class="done"  >
       <button mat-fab color="primary" [@zoomIn]="zoomIn"  matTooltip="{{'add' | translate}}"  (click)="dataSource.createNew()" >
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </span>
  </ng-container>


