
<button [matMenuTriggerFor]="messages" mat-icon-button class="m-r-5">
  <mat-icon>message</mat-icon>
</button>
<mat-menu #messages="matMenu" class="mymegamenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon> Settings </button>
  <button mat-menu-item>
    <mat-icon>account_box</mat-icon> Profile </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon> Disable notifications </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>



<button [matMenuTriggerFor]="email" mat-icon-button class="m-r-5">
  <mat-icon>email</mat-icon>
  <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
</button>
<mat-menu #email="matMenu" class="mymegamenu">
  <mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{folder.name}}</h4>
      <p mat-line> {{folder.updated | date}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{note.name}}</h4>
      <p mat-line> {{note.updated | date}} </p>
    </mat-list-item>
  </mat-list>
</mat-menu>


<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" mat-menu-trigger-for="true">
  <img src="assets/images/users/1.jpg" alt="user" class="profile-pic profile-picwidth "> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> {{ 'account.settings' | translate}} </button>
    <button mat-menu-item [routerLink]="[ '/profile']">
        <mat-icon>account_box</mat-icon> {{ 'account.profile' | translate}}  </button>
    <button mat-menu-item (click)="showSwitchAccount()">
        <mat-icon>cached</mat-icon>   {{ 'account.switch' | translate}}  </button>
    <button mat-menu-item (click)="logoutUser()">
        <mat-icon>exit_to_app</mat-icon> {{ 'account.signout' | translate}}  </button>
</mat-menu>



<button [matMenuTriggerFor]="languages" mat-icon-button class="m-r-5" cdk-program-focused>
  <img src="assets/images/icon/{{language}}.png" class="langicon">
</button>

<mat-menu #languages="matMenu" class="mymegamenu">

  <button mat-menu-item (click)="changelanguage('fr')" style=" padding-top: 10px;">
    <img src="assets/images/icon/fr.png" class="imglang">
    <span class="spanlang">French</span>
  </button>

  <button mat-menu-item (click)="changelanguage('en')" style=" padding-top: 10px;">
    <img src="assets/images/icon/en.png" class="imglang">
    <span class="spanlang">English</span>
  </button>

</mat-menu>

