.profile-picwidth
{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  width: 42px;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.spanlang{
  margin-top: -6px;
  position: absolute;
  margin-left: 4px;
}



.spanlg{
  margin-top: -20px;
  display: block;
  margin-left: 12px;
  color: #4a5b63;
  text-shadow: 0px 1px 1px #607D8B;
}

.imglang{
  width: 30px;
}

.langicon{
  width: 28px;
  height: 28px;
}
