


<mat-card class="example-card">

  <form [formGroup]="form" novalidate (ngSubmit)="SaveDataNotify(form.value)">
    <mat-card-header>
      <span class="barbleu"></span>
      <mat-card-title>{{TitleComponent |translate}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <div  class="row" fxLayout="row column" fxLayout.xs="column">

        <!--Generic Filds -->
        <ng-container  *ngIf="structureFields.fields ">
          <ng-container  *ngFor="let field of structureFields.fields ">
            <ng-container *ngIf="field.type.editable" >

              <ng-container  *ngIf="field.type.name == 'picture' ">
                <div>
                  <div class="zone-img" mat-raised-button fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%">
                    <button  mat-mini-fab color="primary" class="btncardimage"> <mat-icon>file_upload</mat-icon> </button>
                    <ng-container *ngIf="DataEdit[field.name]; else other_pic">
                      <img  alt="user" src="{{DataEdit[field.name]}}" width="100" height="100" class="imgcard">
                    </ng-container>
                    <ng-template  #other_pic>
                      <img  alt="user" src="{{field.type.src}}" width="100" height="100" class="imgcard">
                    </ng-template>
                  </div>
                </div>
              </ng-container>

              <div fxFlex="50%;" class="p-10" fxFlex.xs="100%" fxFlex.sm="100%">

                <ng-container  *ngIf="field.type.name == 'string' ">
                  <mat-form-field hintLabel="Min {{field.type.minLength}} and Max {{field.type.maxLength}} characters ">
                    <input matInput  #input placeholder="{{field.displayName}}" formControlName="{{field.name}}"
                           value="{{DataEdit[field.name]}}" type="text"
                           [attr.maxlength]="field.type.maxLength"
                           [attr.minlength]="field.type.minLength" required >
                    <mat-hint align="end">{{input.value?.length || 0}}/{{field.type.maxLength}}</mat-hint>
                  </mat-form-field>
                </ng-container>

                <ng-container  *ngIf="field.type.name == 'Textarea' ">
                  <mat-form-field  >
                    <textarea matInput placeholder="{{field.displayName}}" value="{{DataEdit[field.name]}}"  formControlName="{{field.name}}" ></textarea>
                  </mat-form-field>
                </ng-container>

                <ng-container  *ngIf="field.type.name == 'double' ">
                  <mat-form-field>
                    <input matInput placeholder="{{field.displayName}}" value="{{DataEdit[field.name]}}" formControlName="{{field.name}}"  type="number" class="example-right-align">
                    <span matSuffix>.00</span>
                  </mat-form-field>
                </ng-container>

                <ng-container   *ngIf="field.type.name == 'email' ">
                  <mat-form-field>
                    <input matInput placeholder="Enter your email" value="{{DataEdit[field.name]}}"  formControlName="{{field.name}}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  >
                  </mat-form-field>
                </ng-container>


                <ng-container  *ngIf="field.type.name == 'list' ">
                  <mat-form-field>
                    <mat-select placeholder="{{field.displayName}}" value="{{DataEdit[field.name]}}" >
                      <!--selected="elementItem.id==DataEdit[field.name]"-->
                      <ng-container *ngFor="let elementItem of field.type.elementType"  >
                        <mat-option value="{{elementItem.id}}"   >
                          {{elementItem.name}} {{elementItem.lastname}}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </ng-container>

                <ng-container *ngIf="field.type.name == 'enumeration' && field.type.multiple ">
                  <section class="example-section" >
                    <ng-container *ngFor="let elementItem of field.type.elementType ">
                      <mat-checkbox class="example-margin"  color="primary"
                                    [checked]="elementItem.name==DataEdit[field.name]">
                        {{elementItem.name}}
                      </mat-checkbox>
                    </ng-container>
                  </section>
                </ng-container>

                <ng-container  *ngIf="field.type.name == 'enumeration' && field.type.multiple == false">
                  <section class="example-section">
                    <mat-radio-group>
                      <ng-container *ngFor="let elementItem of field.type.elementType"  >
                        <mat-radio-button class="example-margin" color="primary"
                                          [checked]="elementItem.name==DataEdit[field.name]"   value="{{elementItem.id}}">
                          {{elementItem.name}}
                        </mat-radio-button>
                      </ng-container>
                    </mat-radio-group>
                  </section>
                </ng-container>

                <ng-container  *ngIf="field.type.name == 'date' ">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker"   value="{{DataEdit[field.name]}}"
                           formControlName="{{field.name}}"  placeholder="{{field.displayName}}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ng-container>

                <ng-container  *ngIf="field.type.name == 'toggle' " >
                  <mat-slide-toggle [checked]="DataEdit[field.name]" formControlName="{{field.name}}">{{field.displayName}}</mat-slide-toggle>
                </ng-container>

              </div>

            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <!--End Generic Filds -->

    </mat-card-content>


    <mat-card-actions   fxLayout="row" fxLayoutWrap="wrap">
      <div  fxLayoutAlign="end end"  fxFlex="98">
        <button   mat-raised-button color="primary" type="submit"     [attr.disabled]=" (!form.valid) && buttonStatus=='enabled'  " >
          <mat-icon>save</mat-icon>
          {{'add' | translate}}</button>
      </div>
    </mat-card-actions>

  </form>




</mat-card>



