
<mat-card fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-lg="100">

  <mat-card-header>
    <span class="barbleu"></span>
    <mat-card-title>{{titleComponent |translate}} </mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <div   class="example-container mat-elevation-z2">

          <div class="bg-light p-20 p-r-1 p-l">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>


          <mat-table [dataSource]="dataSource" matSort  id="example">

            <ng-container *ngFor="let columns of displayedColumns ">
              <ng-container matColumnDef="{{columns}}" *ngIf="columns!='actions'">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{columns}} </mat-header-cell>
                <mat-cell *matCellDef="let row ; " (click)="ActionNotify(row,'detail')" class="zoneitem">

                  <ng-container *ngIf="columns=='Picture'">
                    <ng-container *ngIf="row[columns] ;else other_img">
                     <img src=" {{row[columns]}}" alt="user" width="40" height="40" class="img-circle" style=" margin-top: 10px; ">
                    </ng-container>
                    <ng-template #other_img>
                      <img src="assets/images/users/defaultimg.png" alt="user" width="40" height="40" class="img-circle" style=" margin-top: 10px; ">
                    </ng-template>
                  </ng-container>

                  <ng-container   *ngIf="columns=='Date'">
                    {{row[columns] |  date:'MM/dd/yyyy'}}
                  </ng-container>

                  <ng-container *ngIf="columns!='Date' && columns!='Picture' ">
                      {{row[columns]}}
                  </ng-container>

                </mat-cell>
              </ng-container>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                Action
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" matTooltip="{{'edit' |translate}}"  (click)="ActionNotify(row,'edit')">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>


                <button mat-icon-button color="warn" matTooltip="{{'remove' |translate}}"  (click)="ActionNotify(row,'remove')">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
  </mat-card-content>
</mat-card>
