
<mat-card class="zoneTopAction">
  <mat-card-content   >

    <div  fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="end end" >
             <button *ngIf="rootview!='list'" [routerLink]="['/user']"   (click)="rootview='list'"  mat-raised-button color="primary" type="submit" tabindex="2"  class="b-r">
               <mat-icon>list</mat-icon> {{'user.list' | translate}}
             </button>

            <button *ngIf="rootview=='detail'" [routerLink]="[ '/invoice']"  mat-raised-button color="primary" type="submit" tabindex="2"  style="margin-left: 5px;" class="b-r">
              <mat-icon>print</mat-icon> {{'print' | translate}}
            </button>

            <button   mat-raised-button color="primary" type="submit" tabindex="2"  style="margin-left: 5px;" class="b-r">
              <mat-icon>import_export</mat-icon> Export Data as .xls
            </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div  fxLayout="row" fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

    <ng-container *ngIf="rootview=='list'" >
      <generic-datatable  [@zoomIn]="zoomIn" (notifyAction)='NotifyAction($event)'
                          [Directive_DATA]='dataSource'
                          [Structure_Fields]='structureFields' >
      </generic-datatable>
    </ng-container>


    <ng-container *ngIf="rootview=='add'||rootview=='edit'" >
      <generic-add (AddActionNotify)="addUser($event)"
                   [Structure_Fields]='structureFields'
                   [TitleComponent]='titleComponent'
                   [DataEdit]='dataEdit'>
      </generic-add>
    </ng-container>


    <ng-container *ngIf="rootview=='detail'" >
     <generic-detail [ItemDetail]='itemDetail'>
     </generic-detail>
    </ng-container>

  </div>

  <ng-container *ngIf="rootview!='add'">
    <span class="done"  >
       <button mat-fab color="primary" [@zoomIn]="zoomIn"  matTooltip="{{'add' | translate}}"   (click)="NotifyAction([null,'add'])" >
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </span>
  </ng-container>

</div>

