<div   fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%" class="contentResp">
    <div class="blocks" fxFlex  fxFlex.gt-sm="30%"  >

      <mat-card  class="oh text-center little-profile mat-card">
       <mat-card-content  class="mat-card-content">
          <div class="pro-img"><img  alt="user" src="assets/images/users/4.jpg" width="100" style="    border-radius: 100%;"></div>
          <h3 class="m-b-0">User Name</h3>
          <h6 class="m-t-0 ">Web Designer &amp; Developer</h6>
          <mat-card-actions  class="mat-card-actions">
            <button  class="mat-raised-button mat-warn" color="warn" mat-raised-button="" ng-reflect-color="warn">
              <span class="mat-button-wrapper">Follow</span>
              <div class="mat-button-ripple mat-ripple" matripple=""   ng-reflect-centered="false" ng-reflect-disabled="false"></div>
              <div class="mat-button-focus-overlay"></div></button>
          </mat-card-actions>
          <div  class="m-t-30" fxlayout="row" fxlayoutwrap="wrap" ng-reflect-layout="row" ng-reflect-wrap="wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
            <div  fxflex="100" fxflex.gt-sm="33.33%" fxflex.gt-xs="33.33%" ng-reflect-flex="100" ng-reflect-flex-gt-xs="33.33%" ng-reflect-flex-gt-sm="33.33%" style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
              <h3  class="m-0 font-light">1099</h3>
              <small >Articles</small>
            </div>
            <div  fxflex="100" fxflex.gt-sm="33.33%" fxflex.gt-xs="33.33%" ng-reflect-flex="100" ng-reflect-flex-gt-xs="33.33%" ng-reflect-flex-gt-sm="33.33%" style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
              <h3  class="m-0 font-light">23,469</h3>
              <small>Followers</small>
            </div>
            <div  fxflex="100" fxflex.gt-sm="33.33%" fxflex.gt-xs="33.33%" ng-reflect-flex="100" ng-reflect-flex-gt-xs="33.33%" ng-reflect-flex-gt-sm="33.33%" style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
              <h3 class="m-0 font-light">6035</h3>
              <small >Likes</small>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="blocks" fxFlex   fxFlex.gt-sm="70%" >
      <mat-card>

        <mat-card-header>
          <span class="barbleu"></span>
          <mat-card-title>{{'account.profile' | translate}} </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-tab-group class="demo-tab-group">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>security</mat-icon>{{ 'account.name' | translate}}
              </ng-template>
                <mat-card  >
                    <mat-card-content>
                      <small class="text-muted">Email address </small>
                      <h5 class="m-t-0 m-b-10">admin@gmail.com</h5>
                      <small class="text-muted p-t-30 db">Phone</small>
                      <h5 class="m-t-0 m-b-10">+91 654 784 547</h5>
                      <small class="text-muted p-t-30 db">Address</small>
                      <h5 class="m-t-0 m-b-10">71 Pilgrim Avenue Chevy Chase, MD 20815</h5>
                    </mat-card-content>
                    <mat-card-actions   fxLayout="row" fxLayoutWrap="wrap">

                    </mat-card-actions>
                </mat-card>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label >
                <mat-icon>build</mat-icon><label>{{ 'account.settings' | translate}} </label>
              </ng-template>

                    <mat-card>
                          <form [formGroup]="form" novalidate (ngSubmit)="EditProfile(form.value)">

                            <mat-card-header>
                              <mat-card-title>{{'account.edit' | translate}} {{'account.profile' | translate}} </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>

                              <div style=" width: 112px; position: relative; " mat-raised-button>
                                <button  mat-mini-fab color="primary"  class="btncardimage"> <mat-icon>file_upload</mat-icon> </button>
                                <img  alt="user" src="assets/images/users/defaultimg.png" width="100" height="100" class="imgcard">
                              </div>
                              <mat-form-field>
                                <input matInput placeholder="First name " formControlName="FirstName"  required >
                              </mat-form-field>
                              <mat-form-field>
                                <input matInput placeholder="Last Name" formControlName="LastName"   required>
                              </mat-form-field>
                              <mat-form-field>
                                <input matInput placeholder="Creation Date" formControlName="Date"  required >
                              </mat-form-field>
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-select placeholder="Select">
                                  <mat-option value="option">Option</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-radio-group>
                                <mat-radio-button value="1">Option 1</mat-radio-button>
                                <mat-radio-button value="2">Option 2</mat-radio-button>
                              </mat-radio-group>
                              <mat-slide-toggle>Slide me!</mat-slide-toggle>
                              <mat-checkbox>Check me!</mat-checkbox>
                            </mat-card-content>

                            <mat-card-actions   fxLayout="row" fxLayoutWrap="wrap">
                              <div  fxLayoutAlign="end end"  fxFlex="98">
                                <button   mat-raised-button color="primary" type="submit"  [disabled]="!form.valid">
                                  <mat-icon>save</mat-icon>
                                  Add</button>
                              </div>
                            </mat-card-actions>

                          </form>
                    </mat-card>

            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>

    </div>
</div>

