<section id="wrapper"  class="error-page">
    <div   class="error-box" >
        <div class="text-center">
            <h1 class="error">{{error}}</h1>
            <h3 class="text-uppercase">Page Not Found !</h3>
            <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
            <a [routerLink]="['/']" class="btn btn-info btn-rounded waves-effect waves-light m-b-40 white-text">Back to home</a>
        </div>
    </div>
   <footer class="footer text-center">© 2018 SoftToDo ERP</footer>
</section>
